#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.todo-list-container ul {
  list-style: none;
}


.todo-list-container li {
  width: 80%;
  border-bottom: solid lightgray 1px;
  margin-bottom: 10px;
  
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  font-size: 18px;
}

.todo-list-container li span {
  cursor: pointer;
}

.todo-list-container .delete-btn, .cancel-btn, .modify-btn {
  font-size: 15px;
  width: 40px;
  height: 40px;
  color: red;
  border-radius: 50px;
  margin-left: 3px;
  transition: all 0.25s;
}

.delete-btn:hover, .cancel-btn:hover {
  border-color: red;
  font-size: 18px;
}

.modify-btn {
  color: green;
}

.modify-btn:hover {
  border-color: green;
  font-size: 18px;
} 

.modification-text-field{
  border: none;
  width: 70%;
  outline: none;
}

#add-input-field {
  text-align: center;
  border-radius: 10px;
  border: 1px solid rgb(218, 213, 213);
}

#add-input-field:focus {
  outline: solid 1px #646cff;
}

#todo-add-btn {
  margin: 10px;
  padding: 10px;
  font-size: 15px;
}

#add-sign {
  background-color: rgba(218, 213, 213, 0.3);
  border-radius: 50px;
  padding: 5px 8px;
  margin-right: 5px;
}

#todo-add-btn:hover {
  color: #646cff;
}

#todo-add-btn:hover #add-sign {
  border: 1px solid #646cff;
  transition: all 0.25s;
}
